<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
var ajax_call = function() {
    $.post("/ajax_get_reply/",
        function(data,status){
            $("#reply_div").empty();
            $("#reply_div").html(data)
            // alert("Data: " + data + "\nStatus: " + status);
        });
};

var interval = 1000 * 60 * 2; // where X is your every X minutes

setInterval(ajax_call, interval);
</script>
</head>
<body>



<form action='' method="POST" id="status_reply">{%csrf_token%}

{% for i in form %}

    {{i}}

{% endfor %}

<input type="submit"  value="Submit" id="status_reply">
</form>


{% if  main_status %}
<div id="status_reply_div" style="width:100%;background-color:LawnGreen;">
  <table style="width:100%" cellpadding="0" cellspacing="0" border="0" >
  <tr>
     <td width="160">User name</td>
     <td width="160">Screen name</td>
     <td width="488">Text</td>
     <td width="160">Retweet Count</td>
     <td width="160">Created At</td>
  </tr>
  <tr>
    <td width="160">{{main_status.user.name}}</td>
    <td width="160">{{main_status.user.screen_name}}</td>
    <td width="488">{{main_status.text}}</td> 
    <td width="160">{{main_status.retweet_count}}</td>
    <td width="160">{{main_status.created_at}}</td>
  </tr>
</table>
</div>

{% endif %}

{% if reply_status %}
<div id="reply_div" style="width:100%;background-color:GreenYellow;">

     <table style="width:100%" cellpadding="0" cellspacing="0" border="0" >
     <!-- <tr>
     <td width="160">User name</td>
     <td width="160">Screen name</td>
     <td width="488">Text</td>
     <td width="160">Retweet Count</td>
     <td width="160">Created At</td>
     </tr>   --> 
     {% for reply_dict in reply_status %}
     <tr>
         <td width="160">{{reply_dict.user.name}}</td>
         <td  width="160">{{reply_dict.user.screen_name}}</td>
         <td  width="488">{{reply_dict.text}}</td>
         <td  width="160"></td>
         <td  width="160">{{reply_dict.created_at}}</td>
     </tr>
     {% endfor %}
     </table>
</div>

{% endif %}

</body>
</html>
